<div class="intro indigo lighten-2 z-depth-1">
        <h1 class="grey-text text-lighten-5">Funday</h1>
        <h5 clas="grey lighten-4 grey-text text-darken-1">What the hell should we do this weekend?</h5>
      </div>

<div class ="container">
  <h5>It's been a really long week</h5>
  <hr>
</div>
<div class="container form">
  <div class="row">
    <form class="col 12">
      <h6 class="madlib"> You were late </h6>
        <div class="input-field">
        <input id="late" type="text">
        <label for="late"> how many times? </label>
        </div>
      <h6 class="madlib">this week.</h6>
      <h6 class="madlib"> The </h6>
        <div class="input-field">
          <input id="subway" type="text">
          <label for="subway"> input lousy subway </label>
        </div>
      <h6 class="madlib">kept being delayed and held up.</h6>
      <h6 class="madlib"> You've been meaning to do </h6>
        <div class="input-field">
          <input id="chore" type="text">
          <label for="chore"> input crappy chore </label>
        </div>
      <h6 class="madlib">but you keep putting it off because you just can't be bothered.</h6>
      <hr>
      <div>
        <%= form_for @funday, method: :post do |f| %>
      <h6 class="madlib"> And now, it's the weekend of</h6>
       <%= f.text_field :date, class: "datepicker", required: :true %>
        <h6 class="madlib">but don't know where to start.</h6>
       </div>
      <button class="btn indigo lighten-2 waves-effect waves-light" type="submit" name="action">Start here
       <% end %>
    </form>
  </div>
</div>